- content_for(:title, 'Find Similar Twitter Users')

%div{:class => 'column span-13'}
  = image_tag 'flock1.jpg'

%div{:class => 'column span-9 last'}
  %p
    <a href="http://twitter.com">Twitter</a> is a big place. A real big place. When you first join, it can be a little overwhelming. Who do you follow? How do you find other twitters with similar interests?

  %p
    There have to be birds of a feather out there. We'll help you find them.
    
  %p
    Don't know what Twitter is, or just starting out? Check out <a href="http://www.youtube.com/watch?v=ddO9idmax0o">this great introductory video</a> by <a href="http://commoncraft.com">commoncraft.com</a>

  - form_tag searches_path, :method => :post do
    = text_field_tag 'search', nil, :id => 'find_a_flock_field'
    %input{:id => 'find_a_flock', :type => 'image', :src => 'images/find_a_flock.png'}

  