- content_for(:title, 'Home')

%div{:class => 'column span-13'}
  = image_tag 'flock1.jpg'

%div{:class => 'column span-9 last'}
  %p
    <a href="http://twitter.com">Twitter</a> is a big place. A real big place. When you first join, it can be a little overwhelming. Who do you follow? How do you find other twitters with similar interests?

  %p
    There have to be birds of a feather out there. We'll help you find them.
    
  %p
    Don't know what Twitter is, or just starting out? Check out <a href="http://www.youtube.com/watch?v=ddO9idmax0o">this great introductory video</a> by <a href="http://commoncraft.com">commoncraft.com</a>

  %h2 Find your flock!
  - form_tag :dashboard_search, :method => :get do
    = text_field_tag 'search'
    = submit_tag 'Search'
    
  %h3.or or...

  %a{:href => new_flock_path, :class => 'button'}
    = image_tag 'start_your_own_flock.png', :alt => 'Start Your Own Flock'

  