%h1 Editing flocker

- form_for(@flocker) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit 'Update'

%p
  = link_to 'Show', @flocker
  = link_to 'Back', flockers_path
