
%p
  Here you can find all the flockers we know about so far.

%p
  ="Missing someone? How about you #{link_to 'tell us about them', new_flocker_path}?"

%ul
  - for flocker in @flockers
    %li= link_to h(flocker.twitter_username), flocker
    
%p= link_to 'Add someone', new_flocker_path