%p We're trying to group people on twitter into flocks. Help us out by telling us someone's twitter username.

- form_for(@flocker) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= image_submit_tag 'flock_em.png'
