%dl
  %dt Twitter username
  %dd= link_to h(@flocker.twitter_username), "http://twitter.com/#{@flocker.twitter_username}"

  %dt Flocks
  %dd
    %ul
      - @flocker.flocks.each do |flock|
        %li= link_to flock.name, flock