body {
  background: rgb(171, 218, 252);
  color: rgb(51, 73, 85);
}

p {
  font-size: 1.2em;
}

a, a:hover {
  color: #39548c; }

a:visited {
  color: #44372e; }

#nav {
  float: right;
  width: 704px;
  margin: 0px -4px 0px 0px;
  padding: 10px 0 0 250px;
  list-style: none;
  background: rgb(171, 218, 252);
  font-size: 1.4em;
  border-bottom: 2px solid;
  border-color: rgb(147, 187, 216);
}

#nav li {
  float: left;
  margin: 0 1px 0 0;
  padding: 0;
  position: relative;
  top: 2px;
}

#nav li a {
  color: white;
  float: left;
  display: block;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  border: 2px solid;
  border-color: rgb(147, 187, 216);
  /*background: rgb(51, 73, 85);*/
  background: rgb(147, 187, 216);
}

#nav li.current a {
  border-bottom-color: #fff;
  background: #fff;
  color: rgb(51, 73, 85);
}

#content {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid;
  border-color: rgb(147, 187, 216);
  border-top-style: none;
  background: #fff;
}

.spacer {
  color: #fff;
}

.or {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

span.flock {
  color: #481a0a;
   font-weight: bold;
}

#footer {
  text-align: center;
  margin-top: 5px;
}

#find_a_flock {
  vertical-align: middle;
}

#find_a_flock_field {
  vertical-align: top;
}

