body {
  background: rgb(171, 218, 252);
}

a, a:hover {
  color: #39548c; }

a:visited {
  color: #44372e; }

#nav {
  float: right;
  width: 702px;
  margin: 0px -2px 0px 0px;
  padding: 10px 0 0 250px;
  list-style: none;
  background: rgb(171, 218, 252);
  font-size: 1.4em;
  border-bottom: 2px solid black;
}

#nav li {
  float: left;
  margin: 0 1px 0 0;
  padding: 0;
  position: relative;
  top: 3px;
}

#nav li.current a {
  border-bottom-style: solid;
  background: #f00;
}

#nav li a {
  color: white;
  float: left;
  display: block;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #000;
  border-bottom: none;
  background: rgb(51, 73, 85);
}

#content {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid black;
  border-top-style: none;
  background: #fff;
}

.spacer {
  color: #fff;
}

.or {
  margin-bottom: 1em;
  margin-top: 1em;
}

span.flock {
  color: #481a0a;
   font-weight: bold;
}

#footer {
  text-align: center;
}

