%h1 About

%p
  <a href="http://twitter.com">Twitter</a> is a big place. A real big place. When you first join, it can be a little overwhelming. Who do you follow? How do you find other twitters with similar interests?
  
%p
  <a href="/">FlockUp</a> is here to help you answer these questions. Here, you can:
  
%ul
  %li
    Create a <a href="/flocks">flock</a>. Examples include:
    %ul
      %li A topic of interest: ruby
      %li An event: webinno20
      %li A location: boston
  %li
    Add 'flockers' to a flock. This just means adding a twitter user to a 'flock'. Some examples
    %ul
      %li <a href="http://technicalpickles.com">Josh Nichols</a> is really interested in Ruby
      %li Wyatt Greene is participating in <a href="http://railsrumble.com">Rails Rumble</a>
      
      
%h1 Behind the flock

%p
  <a href="/">FlockUp</a> was originally built over a weekend by <a href="http://twitter.com/techpickles">Josh Nichols</a> and <a href="http://twitter.com/explodingtrees">Wyatt Greene</a> as part of <a href="http://app.railsrumble.com/">Rails Rumble 2008</a>.

%p
  Their theme song for the weekend was 'Developers Developers Developers Developers'. How can you not get psyched up by it?

<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/hadxBZWxNrs&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/hadxBZWxNrs&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>